body{
  overflow-x: hidden;
	background: white;
}
#linkdiv{
 float: right;
 top: 0;
 width: 50px;
 height: 50px;


  height: 50px;
  width: 50px;
  background: url('../assets/notification.jpg');
  background-size: contain;
  text-decoration: none;
}
.notificationcount{
color: red;
font-size: 30px;
text-decoration: none;
}
.row{
  margin-bottom: 50px;
}
.ui-datepicker {
   background: #aaa;
   border: 1px solid #555;
   color: #EEE;
   width: 200px;
 }
 .hvr-grow{
  font-weight: bold;
 }
.subheading
{
        padding: 3px;
        margin-left: 0px;
        background-color: #2ECC71;
        margin-bottom: 8px;
}
.header{
    background-color: #2ECC71;
/*
    color: white;
    background-color:hsl(33, 100%, 77%);*/
   /* clear: left;*/
    text-align: left;
    border-color: 2px white;
    height: 60px;
    padding-top: 15px;
    padding-left: 10px;
}
.header2{
    background-color: white;
/*
    color: white;
    background-color:hsl(33, 100%, 77%);*/
    clear: left;
    text-align: left;
    border-color: 1px white;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.noty{
  position: relative;
  right: 5%;
  overflow: hidden;
}
.tt {
  position: relative;
  background: white;
  border: 4px solid #2ECC71;
  display: none;
  min-width: 300px;
  max-height: 50%;
  overflow: scroll;
  padding: 5px
}
.tt:after, .tt:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tt:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}
.tt:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}
.img{
  height: 50px;
  width: 100px;
}
.btn{
  background-color: #2098D1;
}
.footer{
	color: white;
	float: left;
	text-align: center;
    background-color: #2ECC71;
	height:30px;
	width:100%;	
	margin: 0px;
	padding: 0px;	
	position: fixed;
	bottom: 0;
	width: 100%;
}
.container{
	padding: 10px;
	margin: 0;
	width: 100%;
	
}

	.toggle-button{
	position: absolute;
	top: -50px;
	left: 10px;

}

.navbar1{
        position : fixed;
        top : 0;
    }
.hvr-sweep-to-right{
  background-color:   #2ECC71;
}
.navbarlist{
  text-align: left;
  margin-left: 25px;
  font-size: 15px;
  font-color: #2ECC71;
  /*text-decoration-color: white; */
}

.sidebar{
  border:none;
}

 nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

 @media (min-width: 765px) {
    nav.sidebar{
    text-align:center;
    position:fixed;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px white solid;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }
    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: -12px;
    }

  section{
    padding-left: 15px;
  }
  .navbar-toggle{
    background-color: lightblue;
  }
