.dat{
	white-space:pre-line;
	text-align: center;
	max-width: 15%;
}
.tsk{
	min-width: 30%;
	white-space:pre-line;
	text-align: center;
	}
.tim{
	text-align: center;
	white-space:pre-line;
	text-align: center;
}
.ptask{

	text-align: center;
	width: 25%;
	white-space:pre-line;
	text-align: center;
	}
.cmnt{
    max-width: 20%;
	text-align: center;
	white-space:pre-line;
	text-align: center;
}
h4{
	color: gray;
	text-align: center;
	font-family: Georgia, serif;
}
.hvr{
	background-color: #2098D1;
}
.actionbtn{
    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 3px 3px 2px #888888;
    border:none;
    /*margin-right: 2px;*/
}
