<div class="container target_login" id="target_login">
	  <div class="row loginr1">
	    <div class="col-sm-5 col-sm-offset-0 col-lg-offset-0 loginbox " >
	        <div class="login-body-content">
			    <form action="javascript:void(0);" id="formlogin">
			        <div class="form-group " >
			            <label class="required" for="inputEmail">Email:<span id="em">*</span></label>
			            <input type="email" class="form-control inf" id="inputEmail" placeholder="Email" required="required">
			        </div>
		            <div class="form-group w">
		           		<label for="inputPassword">Password:<span id="ps">*</span></label>
		            	<input type="password" class="form-control inf" id="inputPassword" placeholder="Password" required="required">
		            </div>
		         	<h6 class="text-danger" id="le"> <strong> <i class="fa fa-times-circle" aria-hidden="true"></i> Invaild email or password</strong></h6>
		         	<div class="w">
		         		<center>
						    <button  type="submit"  class="btn btn-primary signin hvr-float-shadow hvr-shutter-in-vertical" id="signin">Sign In</button>
						    <a href="javascript:void(0);" class="btn btn-success signup hvr-float-shadow hvr-shutter-in-vertical" id="signup">Sign Up</a>
					    </center>
					</div>
			    </form>  
			</div>
	    </div>
	    <div class="col-sm-5 col-lg-offset-1 col-sm-offset-0 chbody">
	    	<div class="login-body-content jschart"  >
	    	    <center>
                <h4><b>StatusPro</b></h4>
                </center>
                <div id="chart_para">
		    	    <p class="text-justify text_container" >
						Now you can update your daily task using StatusPro. its list all your previous task submitted by you your mentor can assign you a new task, He can add comment on your any task. you can see your all information on a single click. 
					</p>
				</div>	
	    		<div id="chart_container" class="chart_container" >
					<script src="script/chart.js"></script>
				</div>
	    	</div>
	    </div>
	   </div>
	</div>
	<footer class="footer">
		 <p class="foot">Copyright © wittybrains.com</p>
	</footer>
</body>
</html>