<div class="container" id="newlogin-target">
				<div class="row" >
				  <div class="col-sm-12 " id="formbox">
				   <div class="col-sm-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-4" id="lgn-form" >
				  	<form class="form-inline" >
					  <div class="form-group">
					    <label id="label" for="email">Email </label>
					    <input type="email" class="form-control" id="inputEmail">
					  </div>
					  <div class="form-group">
					    <label id="label" for="pwd">Password</label>
					    <input type="password" class="form-control" id="inputPassword">
					  </div>
					  <div class="checkbox " id=checkbox>
					    <label id="label"><input type="checkbox"> Remember me</label>
					  </div>
					   <button type="submit" class="btn btn-success btn-sm" id="signin1">Sign in</button>
					</form>
					</div>
				  </div>
				  <hr >
				</div>
				<div class="row" id="page-body">
					<div class="col-sm-6 desc" >
					   <div class="row" id="chartRow1">
						  <div class="col-sm-6" >
							  <img src="images/chart1.png" id="chart-img">
						  </div>
						  <div class="col-sm-6">
							  <img src="images/chart2.png" id="chart-img">
						  </div>
						</div>
						<div class="row" id="chartRow2">
						  <div class="col-sm-6" >
							  <img src="images/chart3.png" id="chart-img">
						  </div>
						<div class="col-sm-6">
						   <img src="images/chart4.png" id="chart-img">
						</div>
					 </div>
				   </div>
				   <div class="col-sm-6 " >
						<p class="text-justify" id="desc">
							Bootstrap is a free front-end framework for faster and easier web development.
							Bootstrap includes HTML and CSS based design templates for typography,forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins
							Bootstrap also gives you the ability to easily create responsive designs .
						</p>
				    </div>
				</div>
			</div>
			<footer id="footer">
				 <p id="foot">Copyright © wittybrains.com</p>
   			</footer>
	  </body>
</html>