<div class="container" id="profilebox">
    <!-- <button class="btn btn-primary pull-right" id="profile1">Home</button>
    <button class="btn btn-primary pull-right" id="logout1">logout</button> -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 
       col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2" >
        <div class="panel" id="profilepanel">
            <div class="panel-heading profilehead" id="profilehead">
               <h3>{{firstname}} {{lastname}} 
               <button  type="submit"  class="btn btn-primary edit" id="update" value="Edit">Edit</button></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12"> 
                  <table class="table">
                  
                    <tbody>
                      <tr>
                         <td>First Name:</td>
                        <td ><input class="editP inputfield" disabled="true" value="{{firstname}}" id="fn"></td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td ><input class="editP inputfield" disabled="true" value="{{lastname}}" id="ln"></td>
                      </tr>
                      <tr>
                        <td>Emp id:</td>
                        <td ><input class="editP inputfield" disabled="true" value="{{empid}}" id="emp"></td>
                      </tr>
                      <tr>
                      <tr>
                        <td>User Name:</td>
                        <td ><input class="editP inputfield" disabled="true" value="{{username}}" id="un"></td></td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td ><input class="editP inputfield" disabled="true" value="{{email}}" id="eml"></td></td>
                      </tr>
                      <tr>
                        <td>Alternate email:</td>
                        <td ><input class="editP inputfield" disabled="true" value="{{alteremail}}" id="aeml"></td></td>
                      </tr>
                      <tr>
                        <td>Mobile Number:</td>
                        <td ><input class="editP inputfield" disabled="true" value="{{mobileno}}" id="mn"></td>
                      </tr>
                      <tr>
                      <tr>
                        <td> Alternate Mobile Number:</td>
                        <td><input class="editP inputfield" disabled="true" value="{{altermobileno}}" id="amn"></td>
                      </tr>
                     
                    </tbody>
                    
                  </table>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
</div>